extends ../../layouts/account

block head
  title Event Details

block neck
  link(rel='stylesheet', href='/views/admin/users/index.min.css?#{cacheBreaker}')

block feet
  script(src='/views/admin/users/index.min.js?#{cacheBreaker}')

block body
  div.row
    div.col-xs-6
      .page-header
      .panel.panel-primary
        .panel-heading
          h1 Title: #{event.title}
        .panel-body            
          p By: #{event.username}
          p Description: #{event.description}
          p Date: #{event.date}
          p Start Event: #{event.startEvent}
          p End Event: #{event.endEvent}
          a.btn.btn-primary(href='/events/', role='button') Go back