extends ../../layouts/default

block head
  title See Events

block neck
  link(rel='stylesheet', href='/views/admin/users/index.min.css?#{cacheBreaker}')

block feet
  script(src='/views/admin/users/index.min.js?#{cacheBreaker}')

block body
  div.row
    div.col-xs-6
      div.page-header
        h1 Events
      .panel-group
        each event in data
          .panel.panel-primary
            .panel-heading
              h3 Title: #{event.title}
            .panel-body
              p Description: #{event.description}
              p By: #{event.username}
              a.btn.btn-primary(href='/events/#{event._id}', role='button') Read More

            
        
