extends ../../layouts/account

block head
  title My Events

block neck
  link(rel='stylesheet', href='/views/index.min.css?#{cacheBreaker}')

block feet
  script(src='/views/admin/users/index.min.js?#{cacheBreaker}')

block body
  div.row
    div.col-md-12
      div.page-header
        h1 My Events
  div.row
    div.col-md-12
      table.table.table-striped
        thead
            tr
              th Id
              th Title
              th Username
              th Date
              th Actions
        tbody
          each event in data
            tr
              td #{event._id}
              td #{event.title}
              td #{event.username}
              td #{event.date}
              td
                a.button.btn.btn-default(href='/events/#{event._id}', role='button')
                  i.fa.fa-eye
                  |  View
                a.button.btn.btn-primary(href='/account/myevents/update/#{event._id}', role='button')
                  i.fa.fa-pencil
                  |  Edit
                a.button.btn.btn-danger(href='/account/myevents/delete/#{event._id}', role='button')
                  i.fa.fa-trash
                  |  Delete
      

            
        
