extends ../../layouts/account

block head
  title Event Details

block neck
  link(rel='stylesheet', href='/views/index.min.css?#{cacheBreaker}')

block body
  .row
    .col-md-6
      .page-header
        h1 Edit Event
  .row
    .col-md-6
      form(method='POST' action='/account/myevents/update/#{data._id}')
        .form-group
          label(for='title') Title:
          input.form-control(type='text', name='title', value='#{data.title}')
        .form-group
          label(for='description') Description:
          textarea.form-control(type='text', name='description') #{data.description}
        .form-group
          label(for='startEvent') Start Event:
          input.form-control(type='text', name='startEvent', value='#{data.startEvent}')
        .form-group
          label(for='endEvent') End Event:
          input.form-control(type='text', name='endEvent', value='#{data.endEvent}')
        button.btn.btn-primary(type='submit') Update
      